.logo {
	width: 200px;
}
.menu {
	
	top: 30px;
	right: 150px;
	list-style: none;
	margin: 0px;
	padding-left: 0px;

}
li {
	float: right;
	display: inline-block;
	font-weight: bold;
	color:#808080;

	padding: 10px;

	font-family: Verdana;
	font-size: 12px;
}
input {
	position: absolute;
	top:30px;
	right:80px;
	width:200px;
	float: right;

	background-color: #228B22;
	color: white;
	height: 40px;
	width: 150px;
	font-family: Verdana;
	font-size: 20px;
	float: right !important;
	border: none;
}

div {
	color:#696969;
	font-family: Verdana;
	font-size: 14px;
	font-weight: lighter;
	padding-top:15px;
	padding-left: 30px;
	text-align: center;

}
.picture {
	display:block; margin:auto;
	height: 300px;
	width: 600px;
}
h1 {
	text-align: center;
	color:  #696969;
}
